        /* 주의 사항 <style></style>은 사용하지 않는다. */
        /* 초기화 */
        * { 
            margin: 0px;
            padding: 0px; 
        }
        /* body, a, ... 선택자 
            태그 선택자 : 태그명 그대로 사용 
            클래스 선택자 : .클래스명
            id선택자 : #아이디명
        */
        body { /* 속성 : 값; */
            width: 960px;
            
            margin: 0px auto; /* 가운데 정렬 */
        }
        a {
            text-decoration: none;
            color: black; /* #000000, #000, rgb(0, 0, 0) */ /* 글자색깔 */
        }
        a:visited { /* 방문하고 난 뒤 */
            text-decoration: none;
            color: black; /* #000000, #000, rgb(0, 0, 0) */ /* 글자색깔 */
        }
        ul {
            margin: 0px; 
            padding: 0px;
        }
        li {
            list-style: none;
        }
        img {
            border: 0px;
            margin: 0px;
            padding: 0px;
        }